ul{list-style: none; padding: 0; margin: 0;}
.pad-5{padding: 5px;}

.menu-year{margin-bottom: 15px;}
.menu-year .label{font-weight: normal;}
.photo-list img{max-width: 100%; border-radius: 3px; border: solid 1px #EEE; padding: 3px;}
.photo-list-line {margin-bottom: 15px;}